* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 10000;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    .row {
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
        margin: 0px;
        h2 {
          a {
            font-family: "Playfair Display", serif;
            text-decoration: none;
            letter-spacing: 5px;
            font-size: 35px;
            color: black;
            span {
              color: red;
            }
          }
        }
      }
      .nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .Menu {
          ul {
            list-style: none;
            margin: 0px;
            padding: 0;
            .navAnc {
              color: black !important;
            }
            .navchvrnIcon {
              position: absolute;
              right: 25px;
              font-size: 8px;
            }
            .navchvrnIconLft {
              position: absolute;
              left: 5px;
              font-size: 8px;
            }
            .menu-item-has-children {
              &:hover {
                .sub-menu {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }

            li {
              .single-column-menu {
                min-width: 200px;
                max-width: 300px;
              }
              display: inline-block;
              a {
                display: inline-block;
                text-decoration: none;
                color: #737373;
                font-family: "Encode Sans", sans-serif;
                letter-spacing: 2px;
                font-size: 75%;
                font-weight: 500;
                padding: 0 22px;
                height: 100%;
                line-height: 40px;
              }
              .sub-menu {
                padding: 50px 20px 20px 0px;
                position: absolute;
                z-index: 500;
                background-color: white;
                box-shadow: -2px 0px 30px -25px rgba(0, 0, 0, 0.3);
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease;
                ul {
                  li {
                    line-height: 1;
                    margin: 0px;
                    display: block;
                  }
                }
              }
              .mega-menu {
                left: 50%;
                transform: translateX(-50%);
              }
              .mega-menu-column-4 {
                max-width: 1200px;
                width: 100%;
                left: 50%;
                transform: tran;
                display: flex;
                flex-wrap: wrap;
                padding: 60px 15px 30px 15px;
                .list-item {
                  flex: 0 0 25%;
                  padding: 0px 15px;
                  ul {
                    li {
                      a {
                        padding-left: 0px !important;
                      }
                    }
                  }
                  .title {
                    font-size: 19px;
                    line-height: 1px;
                    padding: 10px 0;
                    font-family: "Playfair Display", serif;
                  }
                }
                ul {
                  li {
                    line-height: 1;
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
      .littleservices {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .search {
          cursor: pointer;
          margin-right: 23px;
          .icon {
            font-size: 18px;
          }
        }
        .whishlist {
          cursor: pointer;
          p {
            margin: 0px;
            letter-spacing: 2px;
            font-size: 75%;
            i {
              font-size: 18px;
              margin-right: 23px;
            }
          }
        }
      }
      .menuIcon {
        display: none;
      }
      .menu {
        display: none;
        transform: translateX(100%);
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 400px;
        transition: 0.3s;
        overflow: hidden;
        padding: 56px 51px 80px 75px;
        .close {
          position: absolute;
          top: 20px;
          right: 20px;
          i {
            color: red;
            font-size: 18px;
            cursor: pointer;
          }
        }
        .menu-links {
          ul {
            span {
              font-size: 12px;
              margin-left: 5px;
            }
            padding: 0px;
            li {
              .sub {
                li {
                  a {
                    color: gray;
                    font-size: 14px;
                  }
                }
              }
              list-style: none;
              a {
                text-decoration: none;
                color: black;
                line-height: 3;
              }
            }
          }
        }
      }
    }
  }
}
//------------Js---------
.active {
  transform: translateX(0%) !important;
}
.ndeg {
  transform: rotate(0deg);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.udeg {
  transform: rotate(90deg);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
// font-family: "Montserrat", sans-serif;
// font-family: "Playfair Display", serif;
// font-family: "Lora", serif;
//---------------------------
#entrance {
  background-color: #fafafaf1;
  .desc {
    padding: 75px 0px;
    h3 {
      font-size: 50px;
      line-height: 1.32em;
      font-family: "Playfair Display", serif;
      font-weight: 400;
      color: #0e0e0e;
    }
    p {
      font-family: "Lora", serif;
      font-size: 17px;
      color: #6d6a6a;
      font-style: italic;
      font-weight: 400;
    }
  }
}
#relproducts {
  padding-bottom: 100px;
  padding-top: 100px;
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .prduct {
      transition: 0.3s;
      &:hover {
        .buyFlow {
          opacity: 1;
        }
        .prdctimg {
          padding-top: 25px;
          img {
            opacity: 0.2;
          }
        }
      }
      position: relative;
      .buyFlow {
        opacity: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        .name {
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          letter-spacing: 1px;
          font-weight: 500;
        }
        .price {
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          color: #737373;
        }
        .mybtn {
          padding: 15px 20px;
          width: 170px;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: 500;
          color: white;
          background-color: #f34f3f;
          border: 1px solid transparent;
          outline: none;
        }
      }
      padding: 0px 20px;
      .prdctimg {
        padding-top: 25px;
        img {
          transition: 0.4s;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
#flowerCarousel {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  .heading {
    padding-left: 30px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .owl-carousel {
    width: 100%;
    .owl-nav {
      button {
        border: none !important;
        outline: none !important;
      }
    }
    .owl-prev {
      position: absolute;
      top: 0;
      right: 9%;
      transform: translateY(-80%);
      color: #aaaaaa !important;
      font-size: 40px !important;
      font-weight: bold !important;
      background: none !important;
    }
    .owl-next {
      top: 0;
      right: 4%;
      margin-bottom: 20px;
      position: absolute;
      transform: translateY(-80%);
      color: #aaaaaa !important;
      font-size: 40px !important;
      font-weight: bold !important;
      background: none !important;
    }
    .prduct {
      padding: 0px 20px;
      .prdctimg {
        padding-top: 25px;
        figure {
          padding-bottom: 0px;
          overflow: hidden;
          img {
            transform: scale(100%);
            transition: 0.4s;
            max-width: 100%;
            height: auto;
            &:hover {
              transform: scale(105%);
            }
          }
        }
      }
      .name {
        padding-top: 15px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
      .price {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        color: #959595;
      }
    }
  }
}
#sixProduct {
  padding-bottom: 100px;
  padding-top: 100px;
  h4 {
    padding-left: 30px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .prduct {
      padding: 0px 20px;
      .prdctimg {
        padding-top: 25px;
        figure {
          padding-bottom: 0px;
          overflow: hidden;
          img {
            transform: scale(100%);
            transition: 0.4s;
            max-width: 100%;
            height: auto;
            &:hover {
              transform: scale(104%);
            }
          }
        }
      }
      .name {
        padding-top: 15px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
      .price {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: #a3a2a2;
      }
    }
  }
}
footer {
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: #fefaf3;
  h5 {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  ul {
    padding-top: 20px;
    padding-left: 0px;
    li {
      list-style: none;
      a {
        line-height: 27px;
        text-align: start;
        text-decoration: none;
        color: #737373;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        &:hover {
          color: red;
        }
      }
    }
  }
  .bottom-footer {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .info {
      font-size: 12px;
      color: #737373;
      padding-top: 7px;
      p {
        margin-bottom: 0px;
      }
    }
    .bankCards {
      display: block;
      font-size: 25px;
      color: #959595;
      text-align: center;
    }
    .socials {
      text-align: center;
      a {
        margin: 0px 10px;
        text-decoration: none;
        color: #737373;
        font-size: 12px;
        letter-spacing: 2px;
        &:hover {
          color: red;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  header {
    .nav {
      .container {
        .row {
          .littleservices {
            .search {
              margin-right: 15px;
            }
            .whishlist {
              p {
                i {
                  margin-right: 15px;
                }
              }
            }
          }
          .nav-links {
            .Menu {
              ul {
                li {
                  a {
                    padding: 0px 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  header {
    border-bottom: 1px solid #e8e8e8;
    .container {
      padding-top: 10px;
      padding-bottom: 10px;
      .row {
        .nav-links {
          display: none;
        }
        .littleservices {
          display: none;
        }
        .menuIcon {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;
        }
        .menu {
          display: block;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (min-width: 767px) {
}
@media screen and (max-width: 767px) {
  footer {
    .archive {
      padding-left: 50px;
    }
    .company {
      padding-left: 50px;
    }
    .socialmedia {
      padding-left: 50px;
    }
    .customservice {
      padding-left: 50px;
    }
  }
  .bottom-footer {
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center !important;
  }
  #entrance {
    .desc {
      padding: 50px 50px;
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
@media screen and (max-width: 490px) {
}
